.container {
  position: relative;
  width: 130px;
  height: 130px;
}

.dieImage {
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.4));
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-weight: 900;
  color: #fff;
  font-family: var(--font-display);
}
